<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body id="art">

    <nav>
        <div class="links">
            <a data-active="home" href="mainpage.html">ΒΙΟΓΡΑΦΙΚΟ</a>
            <a data-active="photos" href="photos.html">ΦΩΤΟΓΡΑΦΙΕΣ</a>
            <a data-active="art" href="art.html">ΕΡΓΑ</a>
            <a data-active="links" href="links.html">ΣΥΝΔΕΣΜΟΙ</a>
            <a data-active="loging" href="login.html">ΔΙΑΧΕΙΡΗΣΗ</a>
        </div>
    </nav>
    <div id="sidebar">
        <div class="ΒΙΟΓΡΑΦΙΚΟ" onclick="show">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li>Εργα </li>
           
        </ul>
    </div>
    <header>
        <h1>ΤΑ ΕΡΓΑ ΤΟΥ ΟΔΥΣΣΕΑ ΕΛΥΤΗ</h1>
        <h2>
       
            Καποια απο τα σημαντικοτερα του εργα ειναι:
                <li>Το Άξιον Εστί</li>
                <li>Το Μονόγραμμα</li>
                <li>Μαρία Νεφέλη</li>
                <li>Ο Μικρός Ναυτίλος</li>
        </h2>
                

        
       
    </header>


    <script type="text/javasript" src="script.js"></script>
    
</body>
</html>