<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body id="links">

    <nav>
        <div class="links">
            <a data-active="home" href="mainpage.html">ΒΙΟΓΡΑΦΙΚΟ</a>
            <a data-active="photos" href="photos.html">ΦΩΤΟΓΡΑΦΙΕΣ</a>
            <a data-active="art" href="art.html">ΕΡΓΑ</a>
            <a data-active="links" href="links.html">ΣΥΝΔΕΣΜΟΙ</a>
            <a data-active="loging" href="login.html">ΔΙΑΧΕΙΡΗΣΗ</a>
        </div>
    </nav>
    <div id="sidebar">
        <div class="ΒΙΟΓΡΑΦΙΚΟ" onclick="show">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li>Συνδεσμοι </li>
           
        </ul>
    </div>
    <header>
        <h1>Καποιοι συνδεσμοι για τα εργα του Οδυσσεα Ελυτη</h1>

        <h2>
            <li><a href="https://el.wikipedia.org/wiki/%CE%A4%CE%BF_%CE%86%CE%BE%CE%B9%CE%BF%CE%BD_%CE%95%CF%83%CF%84%CE%AF_(%CF%80%CE%BF%CE%AF%CE%B7%CE%BC%CE%B1)"> Το Αξιον Εστι</a></li>
            <li><a href="https://epi-logou.gr/%CE%BC%CE%BF%CE%BD%CE%BF%CE%B3%CF%81%CE%B1%CE%BC%CE%BC%CE%B1-%CF%84%CE%BF%CF%85-%CE%BF%CE%B4%CF%85%CF%83%CF%83%CE%AD%CE%B1-%CE%B5%CE%BB%CF%8D%CF%84%CE%B7-%CE%B1%CF%80%CF%8C%CF%83%CF%80%CE%B1/">Το μονογραμμα</a></li>
        </h2>
    </header>


    <script type="text/javasript" src="script.js"></script>
    
</body>
</html>