<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body id="login">

    <nav>
        <div class="links">
            <a data-active="home" href="mainpage.html">ΒΙΟΓΡΑΦΙΚΟ</a>
            <a data-active="photos" href="photos.html">ΦΩΤΟΓΡΑΦΙΕΣ</a>
            <a data-active="art" href="art.html">ΕΡΓΑ</a>
            <a data-active="links" href="links.html">ΣΥΝΔΕΣΜΟΙ</a>
            <a data-active="loging" href="login.html">ΔΙΑΧΕΙΡΗΣΗ</a>
        </div>
    </nav>
    <div id="sidebar">
        <div class="ΒΙΟΓΡΑΦΙΚΟ" onclick="show">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li>Συνδεση </li>
            <li>Αποσυνδεση</li>
           
        </ul>
    </div>
    <div class="container">
        <form action="">
            <h1>Σύνδεση Χρήστη</h1>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" required>
            </div>
            <input type="submit" class="btn" value="Login">
            
        </form>
    </div>
    <header>
        <h1></h1>
        <h2></h2>
        <p> 
            
        </p>
    </header>


    <script type="text/javasript" src="script.js"></script>
    
</body>
</html>