<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body id="home">

    <nav>
        <div class="links">
            <a data-active="home" href="mainpage.html">ΒΙΟΓΡΑΦΙΚΟ</a>
            <a data-active="photos" href="photos.html">ΦΩΤΟΓΡΑΦΙΕΣ</a>
            <a data-active="art" href="art.html">ΕΡΓΑ</a>
            <a data-active="links" href="links.html">ΣΥΝΔΕΣΜΟΙ</a>
            <a data-active="loging" href="login.html">ΔΙΑΧΕΙΡΗΣΗ</a>
        </div>
    </nav>
    
    <div id="sidebar">
        <div class="ΒΙΟΓΡΑΦΙΚΟ" onclick="show">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li>Bιογραφικο </li>
           
        </ul>
    </div>
    <header>
        <h1>ΒΙΟΓΡΑΦΙΚΟ ΟΔΥΣΣΕΑ ΕΛΥΤΗ</h1>
        <h2>Ο Οδυσσέας Ελύτης ήταν ένας από τους σημαντικότερους Έλληνες ποιητές (Ηράκλειο Κρήτης, 2 Νοεμβρίου 1911 - Αθήνα, 18 Μαρτίου 1996),
            μέλος της λογοτεχνικής γενιάς του '30. 
            Βραβεύτηκε το 1960 με το Κρατικό Βραβείο Ποίησης και το 1979 με το βραβείο Νόμπελ Λογοτεχνίας.
            Πολλά ποιήματά του μελοποιήθηκαν, ενώ συλλογές του έχουν μεταφραστεί μέχρι σήμερα σε πολλές ξένες γλώσσες.
            Το έργο του περιλαμβάνει ακόμα μεταφράσεις ποιητικών και θεατρικών έργων.</h2>
        <p> 
            
        </p>
    </header>


    <script type="text/javasript" src="script.js"></script>
    
</body>
</html>